@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

body {
  font-family: "Nunito", sans-serif;
}

@keyframes opacity-animation {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.7;
  }
}
